
.comment {
  padding: 10px;
  position: relative;
  border: 1px solid $white2;
  background-color: $white1;
  border-radius: 3px;
  margin-bottom: 1.2rem;
}

.new-comment {
  display: none;
}
.comment-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.comment-avatar {
  width: 10%;
  float: left;
}
.comment-avatar img {
  width: 100%;
}
.comment-user-infos {
  padding-top: 30px;
  padding-left: 30px;
}
.comment-head {
  margin-left: 70px;
}

.comment-author {
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
}

.comment-story {
  font-weight: 400;
  font-size: 0.7rem;
  display: inline-block;
}

.comment-body {
  margin-left: 70px;
}

.single-comments-signal {
  float: right;
}




