.user-account-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
}

.user-account-image {
  width: 15%;
}

.user-account-image img {
  width: 100%;
}

.user-account-infos {
  width: 50%;
}

.user-update-title {
  width: 100%;
  text-align: center;
}

.user-form-section {
  width: 43%;
  margin: 3%;
  display: inline-block;
}

.user-update-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user-update-img-container {
  width: 30%;
}

.user-update-img-container img {
  width: 100%;
}

.user-update-img-field {
  width: 30%;
}

.user-update-submit {
  width: 100%;
  text-align: center;
}



