
.comment-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.com-user-image {
  width: 20%;
}
.com-user-image img {
  width: 100%;
}

.com-user {
  margin-top: 5%;
  margin-bottom: 5%;
}

.com-post {
  margin-top: 5%;
  margin-bottom: 5%;
}
