
ul {
  list-style: none;
}

body {
  background-color: white;
}

main {
  padding-top: 0;
}

.submit-message {
  position: relative;
  width: 30%;
  height: 100px;
  left: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fixed-top {
  position: relative;
}

.admin-container {
  padding-top: 100px;
}
