
ul {
  list-style: none;
}

body {
  background-color: white;
}

main {
  padding-top: 0;
}

.disp-none {
  display: none;
}

.submit-message {
  position: relative;
  width: 30%;
  height: 100px;
  left: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.admin-title {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.account-btn {
  margin-left: 20px;
}

.log-link {
  color: white;
}

.admin-container {
  padding-top: 10%;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: auto;
}

.public-bar {
  top: 55px;
}

.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 850px;
}

.hero-overlay {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.2);
}

.hero-container {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 150px;
  text-align: center;
  z-index: 99;
}

.hero-title {
  color: white;
}

.hero-container p {
  color: white;
}

.hero-container h1 {
  color: white;
}

.home-container {
  padding-top: 60px;
}

