
ul {
  list-style: none;
}

body {
  background-color: white;
}

main {
  padding-top: 0;
}

.submit-message {
  position: relative;
  width: 30%;
  height: 100px;
  left: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fixed-top {
  position: relative;
}

.hero {
  background-image: url("../../../public/assets/writer-machine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 850px;
}

.home-container {
  padding-top: 60px;
}

.admin-container {
  padding-top: 100px;
}
